<div class="main-login">
  <div class="left-login">
    <h1>FitLife System<br><br>Train Your Clients Online With<br>The best Platform Built For Personal Trainers</h1>
    <img src="assets/fingerprint-animate.svg" class="left-login-image" alt="Login IMG">
  </div>
  <div class="right-login">
    <div class="card-login">
      <h1>LOGIN</h1>
      <div class="text-field">
        <label for="user">User</label>
        <input type="text" name="user" id="user">
      </div>
      <div class="text-field">
        <label for="pass">Pass</label>
        <input type="password" name="pass" id="pass" >
      </div>
      <div class="forgot-pass">
        <p>Forgot your password? <strong><a href="/login">Click here!</a></strong></p>
      </div>
      <button class="btn-login">Login</button>
    </div>
    <p class="sign-up">Don't have a coach account?<strong><a href="/login"> Sign up </a></strong></p>
  </div>
</div>
